// //////////////////////////////////////////
////////////////  LOGO   ///////////////////
.logo{
    height: 3.25rem;
    margin-left: 3rem; 
}

//////////////////////////////////////////
////////////////  Search  ///////////////////

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
   
    &__input{
        font-family: inherit;
        font-size: inherit;
        background-color: var(--c-g-l-3);
        border-radius: 200px;
        padding: .9rem 2rem;
        margin-right: -3.2rem;
        width: 90%;
        border: none;
        transition: all .2s;
        height: 4rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--c-g-l-3);
        }
        &::placeholder{
            font-size: 1.4rem;
        }


       

    }

    &__button{
        border: none;
        fill: var(--c-g-d-3);
        &:active,
        &:hover{
            scale: (.1);
            transform: translateY(2px);
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;

    }


}

////////////////////////////////////////////////
/////////////////////USER NAV ///////////////

.user-nav{
    display: flex; 
    align-self: stretch;
    align-items: center; 

    & > *{
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover{
            background-color: var(--c-g-l-3 );
        }
    }



    &__icon-box{
      
        position: relative;
    }

    &__notification{
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--c-p);
        position: absolute;
        color: #fff;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__user{
        margin-right: 3rem;
    }

    &__user-name{
        margin-left: .8rem;
        font-size: 1.5rem;
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--c-g-d-2);
        
    }


    &__user-photo{
        height: 3.75rem;
        border-radius: 100rem;
        

    }
}


/////////////////////////////////////////
//////////////////sidebar

.side-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    margin-top: 2.5rem; 
    // align-items: center;

    @media only screen and (max-width: $bp-mid){
        flex-direction: row;
        margin-top: 0;
        justify-content: space-evenly;
    }
    &__item{
        padding: .5rem 2rem;
        position: relative;
        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }
    &__item::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--c-p);
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s;
                    background-color: .1s;

    }
    &__item:hover::before{
        transform: scaleY(1);
        width: 100%;
    }
    &__link{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;


        & span{
            color: #fff;    
            text-align: left;
            font-size: 1.3rem;
            font-weight: 500;
            text-transform: uppercase;
            // &:hover{
            //     color: var(--c-g-d-2);
            // }
        }
    }
    &__icon{
        height: 2.5rem;
        width: 2.5rem;
        fill: #fff;
        margin: 1.2rem;
       
    }


}

.legal{
    font-size: 1.2rem;
    padding: 1.7rem;
    text-align: center;
    @media only screen and (max-width: $bp-mid){
        display: none;
    }
}


/////////////////////////////////////////
////////////////// HOTEL _ VIEW

.gallery{
    display: flex; 
    &__photo{
        width: 100%;
        display: block;
    }
}

.review-1{
    display: flex;
    justify-content: space-between;
    // padding: 1.5rem  1.5rem;
    background-color: #fff;
    border-bottom: .5px solid rgba(1,1,1, .2);
    box-shadow:  0 .1rem 1rem rgba(1,1,1, .2);

}

.about-hotel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & h1{
        margin-right: 1.2rem;
        font-weight: 100;
        text-transform: uppercase;
        padding: 1.5rem;
    }
    &__icon{
        height: 1.5rem;
        width: 1.5rem;
        fill: var(--c-p);
    }
}

.about-hotel-2{
    display: flex;
    align-items: center;

   

    &__icon{
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--c-p);
    }

    &__rating{
        background-color: var(--c-p);
        margin-left: 1.2rem;
        text-align: center;
         padding: 1.5rem;
         color: #fff;
        
    }
}

.btn-inifnite{
    color: var(--c-p);
    font-size: .9rem;
    padding: .8rem;
    border-bottom: solid 1px currentColor;


    &:hover{
        color: var(--c-g-d-1);
    }

    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }
    
}


@keyframes pulsate{

    0%{
        transform: scale(1);
        box-shadow: none;
    }

    50%{
        transform: scale(1.05);
        box-shadow:  0 1rem 4rem rgba(1,1,1, .2);

    }

    100%{
        transform: scale(1);
        box-shadow: none;

    }

}



///////////////////////////////////////
////////HOtel View



.para{
    padding: 2rem;
}

.mar-botm{
    border-bottom: 2px solid var(--c-g-l-3);
}

.list{
    padding: 2rem;
    display: flex;
    list-style: none;
    // justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--c-g-l-3);

    // flex-direction: column;
    &item{
        flex: 0 0 50%;
        margin-bottom: 1rem;
       
    }

    &item::before{
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;
       
        // OLD browser
        //background-image: url(../img/SVG/chevron-thin-right.svg);
        //background-size: cover;

        // New 
        background-color: var(--c-p);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;

        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        


       
    }
}





.recommend{
    display: flex;
    // justify-content: space-between;
    padding: 2rem;
     align-items: center;

     @media only screen and (max-width: $bp-large){
         flex-direction: column;
         align-items: flex-start;
         justify-content: space-between;
     }
    &__count{
        margin-right: auto;
    }

    &__friend{
        

    }

    &__photo{
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;

        &:not(:last-child){
            margin-right: -1.8rem;
        }
        
    }

}


.user-reviews{
    flex: 1;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    &:not(:last-child){
    align-items: stretch;
    }


}

.review{

    padding: 3rem;
    // flex-direction: column;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    border-bottom: .5px solid rgba(1,1,1, .2);
    box-shadow:  0 .1rem 1rem rgba(1,1,1, .2);
    z-index: 1;
    align-items: stretch;
    justify-content: stretch;
    &:not(:last-child){
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-small){
            margin-bottom: 3rem;
            margin-top: 3rem;
        }
    }

    &__photo{
        border-radius: 50%;
        height: 5.5rem;
        margin-right: 1rem;
      
       
    }
    &__text{
        z-index: 100;
    }

    &__user{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 0rem;

        &-name{
            font-weight: 600;
        }
         &-box{
             margin-right: auto;
             font-size: 1rem;
         }


    }

    &__rating{
        font-size: 2.4rem;
        color: var(--c-p);
    }

    &::before{
        content: "\201C";
        position: absolute;
        top: -3rem;
        left: -0.6rem;
        line-height: 1;
        font-family: sans-serif;
        font-size: 20rem;
        color: var(--c-g-l-2);
        z-index: -1;
        

    }

   

    &__btn{
        font-size: 1.2rem;
        display: inline-block;
        margin-left: 40%;
        margin-top: 10%;
        font-family: inherit;
        padding: .2rem .1rem;
        // margin: auto;

        @media only screen and (max-width: $bp-small){
           margin-top: 3%;
           margin-left: 45%;
        }
       
    }


}


.cta{
    text-align: center;
    padding: 3rem;
    &__book-now{
        font-size: 2.5rem;
        padding: 2rem 2rem 3rem 2rem;
        font-weight: 100;
    }
}

.btn{
    border-radius: 100px;
    position: relative;
    font-size: 1.5rem;
    overflow: hidden;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-image: linear-gradient(to right, var(--c-p-l),var(--c-p-d));
    font-weight: 300;
    padding: 1rem 5.5rem;


    & > *{
        height: 100%;
        width: 100%;
        display: inline-block;
        transition: all .2s;

    }

    &__visible{
        padding: 1rem 1.5rem;
    }

    &__invisble{
         position: absolute;
        // padding: 2rem 0;
        left: 0;
        top: -100%;
    }

    &:hover{
        background-image: linear-gradient(to left, var(--c-p-l),var(--c-p-d));

        
    }

    &:hover &__visible{
        transform: translateY(100%);
    }

    &:hover &__invisble{
        top: 35%;
    }

    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }

    
   

   
}









