.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--c-g-l-2);
    box-shadow: 0 2rem 6rem rgba(0,0,0, .3);
    min-height: 40rem;



}



.header{
    background-color: var(--c-g-l-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    // padding: 2rem;
}

.content{
    display: flex;
    
}

.sidebar{
    background-color: var(--c-g-d-1);
    flex: 0 0 18%;
}

.hotel-view{
    background-color: #fff;
    flex: 1;
}

